body{
    font-family: Jost;
}

:root{
    --active-color: #CDA274;
    --title-color: #292F36;
    --text-color :#4D5053;
    --background-color: #FFF;
    --button-background-color: #F4F0EC;
}

.container{
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: solid 1px red;
}

.header-item:first-child{
    color: var(--active-color);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.5px; /* 150% */
letter-spacing: 0.4px;
}

.hero{
    background-image: url(../images/dreaminterior.webp) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 188px;
    padding-bottom: 260px;
}


.hero-title{
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: 96px; /* 120% */
letter-spacing: 0.22px;
width: 595px;
margin-bottom: 19px;
}

.hero-list{
    display: flex;
    flex-wrap: wrap;
}

.hero-text{
    color: var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
height: 33px;
width: 577px;
margin-bottom: 35px;
}

.hero-button{
    color: var(--background-color);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.72px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 34px;
    padding-right: 67px;
    border-radius: 18px 18px 18px 18px;
background-color: var(--title-color);
}

.viewmore{
    margin-top: 100px;
    margin-bottom: 100px;
}

.viewmore-list{
    display: flex;
    justify-content: space-between;
}

.viewmore-item{
padding: 75px 41px 70px 42px;
}

.viewmore-title{
    color: var(--title-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 1.56; /* 156% */
letter-spacing: 0.22px;
}

.viewmore-text{
    color: var(--text-color);
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
width: 296px;
}

.viewmore-link{
    color: var(--text-color);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.36px;
padding-top: 20px;
padding-left: 98px;
padding-right: 98px;
}

.tackle-box{
    display: flex;
    justify-content: space-between;
}

.tackle-title{
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 1.3; /* 130% */
letter-spacing: 0.22px;
width: 450px;
margin-bottom: 42px;
}

.tackle-text{
    color: var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
width: 531px;
margin-bottom: 29.8px;
}

.callus-number{
    color: var(--text-color);
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
}

.callus-text{
    color: var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
}

.tackle-button{
    color: var(--background-color);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.72px;
    border-radius: 18px;
border: 2px solid var(--title-color);
background: var(--title-color);
padding-top: 21px;
padding-bottom: 23px;
padding-left: 34px;
padding-right: 67px;
margin-top: 10.2px;
}

.people{
padding-top: 139px;
}

.people-box{
    background-color: var(--button-background-color);
    border-radius: 70px;
    padding-top: 103px;
    padding-bottom: 121px;
}

.people-logo{
    color: var(--title-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: 1.3; /* 130% */
letter-spacing: 0.22px;
width: 479px;
margin-left: auto;
margin-right: auto;
margin-bottom: 46px;
}

.people-list{
    display: flex;
    gap: 16px;
}

.people-item{
    padding: 50px 79px 45px 35px;
    background-color: var(--background-color);
    border-radius: 30px;
}

.people-title{
    margin-top: 25px;
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
}

.people-city{
    color: var(--text-color);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
}

.people-text{
    color: var(--text-color);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
}

.brands-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.recentprojects-title{
color: var(--title-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 47px;
font-style: normal;
font-weight: 400;
line-height: 62.4px; /* 132.766% */
letter-spacing: 0.22px;
}

.recentprojects-text{
    width: 786px;
color: var(--text-color);
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
margin-left: auto;
margin-right: auto;
}

.recentprojects-list{
    display: flex;
    flex-wrap: wrap;
}

.recentprojects-item{

}

.recentprojects-image{

}

.recentprojects-name{
    color: var(--title-color);
    font-family: "DM Serif Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.56; /* 156.25% */
    letter-spacing: 0.22px;
    margin-top: 25px;
}

.recentprojects-des{
    color: var(--text-color);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.22px;
}

.recentprojects-button{
    border-radius: 100px;
    background: var(--button-background-color);
    width: 70px;
    height: 70px;
    
}

.results{
    background-color: var(--button-background-color);
}

.results-box{
    padding-top: 140px;
    padding-bottom: 140px;
}

.results-list{
    display: flex;
    justify-content: space-around;
}

.results-item{

}

.results-title{
    color: var(--active-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 85px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 1.7px;
}

.results-text{
    color: var(--text-color);
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
}

.recent{

}

.recent-title{
    color: var(--title-color);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3; /* 130% */
    letter-spacing: 0.22px;
}

.recent-subtitle{
    color: var(--text-color);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.22px;
    width: 589px;
    margin-left: auto;
    margin-right: auto;
}

.recent-list{
display: flex;
flex-wrap: wrap;
}

.recent-item{
    border-radius: 62px;
    border: 1px solid #E7E7E7;
    width: 387px;
}

.recent-name{
    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.22px;
    border-radius: 8px 8px 8px 0px;
background: var(--background-color);
}

.recent-bio{
    color: var(--title-color);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4; /* 140% */
    letter-spacing: 0.5px;
}

.recent-date{
    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.22px;
}

.recent-button{
    border-radius: 100px;
    background: var(--button-background-color);
    width: 52px;
height: 52px;
}

.join{
    border-radius: 70px;
    background: var(--title-color);
    padding-top: 100px;
    padding-bottom: 95px;
}

.join-title{
    color: var(--background-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
}

.join-text{
    color: #FFF;
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
margin-bottom: 31px;
}

.join-button{
    color: var(--background-color);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.22px;    
    padding-top: 21px;
    padding-bottom: 23px;
    padding-right: 67px;
    padding-left: 37px;
    background-color: var(--active-color);
    border-radius: 18px;
}